---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <p><img src="https://th.bing.com/th/id/R.8dfd7b4ad9d29bbccdde151612895a2b?rik=bFxVf%2f9UQTmjSg&riu=http%3a%2f%2fi2.hdslb.com%2fbfs%2farchive%2f4b10eb27e2ce5959f81746fbe5ffee669e7cf12d.jpg&ehk=%2bfiszu2uRbWA1jF8XPiJ74fDt5CW3By66zhrRZNMk1o%3d&risl=&pid=ImgRaw&r=0"></p>
    <h2 class="post-list-heading">{{ page.list_title | default: "postss" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
