---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <style>
    @import url(https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css);
  </style>
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
    <meting-js 
	    server="netease" 
	    type="playlist" 
	    id="5045551694"
	    fixed="true" 
	    autoplay="true"
	    loop="all"
	    order="random"
	    preload="auto"
	    list-folded="ture"
	    list-max-height="500px" 
    >
    </meting-js>	
</article>
